.foot{
    --lefty: 300px;
    --righty: 300px;
    --widthy: 100px;
    --heighty: 100px;
}
#shape {
    width:100vw;
    height:100vh;
    background:#448ccb;
    position:relative;
}

#shape:before {
    content: attr(data-before);
    position:absolute;
    width:var(--widthy);
    height:var(--heighty);
    background:#fff;
    left:var(--lefty); top:var(--righty);
    border-radius:50%;
}
body{
    overflow-y: hidden;
    overflow-x: hidden;
}