.flex-container {
    display: flex;
    background-color: DodgerBlue;
}
.sliding {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    width: 50%;
}
.pressed{
    opacity: 0.4;
    width: 60%;

}

